# Use LLVM toolchain
CONFIG_USE_LLVM=n

# Distribute for a release
CONFIG_RELEASE=n

# Build in extra resilience, usually not needed
CONFIG_RESILIENT=y


# Distribute unit tests
CONFIG_BUILD_TESTS=y

# Distribute manuals
CONFIG_BUILD_MANUALS=y

# Distribute licensing information
CONFIG_BUILD_LICENSES=y

# Distribute locale messages
CONFIG_BUILD_MESSAGES=y

# Distribute static version of libraries
CONFIG_BUILD_STATIC=y


# Compress textual data
CONFIG_COMPRESS_TEXT=n


# Distribute en_CA.ascii locale
CONFIG_LOCALE_EN_CA_ASCII=y
