# Use LLVM toolchain
CONFIG_USE_LLVM=n

# Distribute for a release
CONFIG_RELEASE=n

# Build in extra resilience, usually not needed
CONFIG_RESILIENT=y

# Statically link utilities
CONFIG_STATIC=n


# Distribute unit tests
CONFIG_BUILD_TESTS=y

# Distribute manuals
CONFIG_BUILD_MANUALS=y

# Distribute licensing information
CONFIG_BUILD_LICENSES=y

# Distribute locale messages
CONFIG_BUILD_MESSAGES=y

# Distribute static version of libraries
CONFIG_BUILD_STATIC=y

# Distribute include files
CONFIG_BUILD_INCLUDES=y


# Compress textual data
CONFIG_COMPRESS_TEXT=n


# Distribute en_CA.ascii locale
CONFIG_LOCALE_EN_CA_ASCII=y


# /bin/cat
# Distribute the cat utility
CONFIG_BIN_CAT=y
# The amount to read/write at a time, set to 1 to disable i/o buffering
CONFIG_BIN_CAT_BUFF_SIZE=4096


# /bin/echo
# Distribute the echo utility
CONFIG_BIN_ECHO=y


# /usr.bin/link
# Distribute the link utility
CONFIG_USR_BIN_LINK=y


# /usr.bin/unlink
# Distribute the unlink utility
CONFIG_USR_BIN_UNLINK=y


# /usr.bin/tee
# Distribute the tee utility
CONFIG_USR_BIN_TEE=y
# Amount to read/write at a time, set to 1 to disable i/o buffering
CONFIG_USR_BIN_TEE_BUFF_SIZE=4096

# Max output files, POSIX mandates a minimum of 13
CONFIG_USR_BIN_TEE_MAX_FILES=13


# /lib/libc
# Distribute libc
CONFIG_LIB_C=y
