# Use LLVM toolchain
CONFIG_USE_LLVM=n

# Distribute for a release
CONFIG_RELEASE=n

# Build in extra resilience, usually not needed
CONFIG_RESILIENT=y

# Statically link utilities
CONFIG_STATIC=n


# Distribute unit tests
CONFIG_BUILD_TESTS=y

# Distribute manuals
CONFIG_BUILD_MANUALS=y

# Distribute licensing information
CONFIG_BUILD_LICENSES=y

# Distribute locale messages
CONFIG_BUILD_MESSAGES=y

# Distribute static version of libraries
CONFIG_BUILD_STATIC=y


# Compress textual data
CONFIG_COMPRESS_TEXT=n


# Distribute en_CA.ascii locale
CONFIG_LOCALE_EN_CA_ASCII=y


# /bin/cat
# The amount to read/write at a time, set to 1 to disable i/o buffering
CONFIG_BIN_CAT_BUFF_SIZE=4096


# /usr.bin/tee
# Amount to read/write at a time, set to 1 to disable i/o buffering
CONFIG_USR_BIN_TEE_BUFF_SIZE=4096

# Max output files, POSIX mandates a minimum of 13
CONFIG_USR_BIN_TEE_MAX_FILES=13
